.container4
{
    border: 10px groove green;
    background-image: url(./sky\ image.jpg);
    /* background-repeat: no-repeat; */
}

.container1
{
    display: flex;
    position: relative;
}

.box1
{
    background-color: black;
    color: white;
    border: 4px solid red;
    padding: 10px 30px 20px 30px;
    font-weight: bold;
    text-align:center;
    font-style: italic;
    width: max-content;
    top: 10px;
    left: 30px;
    border-radius: 25px;
    position: absolute;
    /* text-size-adjust: 0px; */
    /* text-indent: 0px; */
}

.box2
{
    color: white;
    background-color: black;
    border: 5px solid red;
    padding:20px 150px 0px 150px;
    top:10px;
    left: 300px;
    margin:0px;
    border-radius: 40px;
    text-size-adjust: normal;
    width: max-content;
    font-style: italic;
    position: absolute;
}

.box3
{
    color: white;
    background-color: black;
    border: 5px solid red;
    padding:20px 90px 0px 90px;
    top:10px;
    left: 1000px;
    margin:0px;
    border-radius: 40px;
    /* text-size-adjust: normal; */
    width: max-content;
    font-style: italic;
    position: absolute;
}

.container2
{
    display: flex;
    /* position: relative; */
    margin-top: 10rem;
    justify-content: center;
    margin-left: 20px;
}

.three
{
    color: black;
    background-color: rgb(8, 133, 133);
    text-decoration-line: underline;
    padding: 20px 10px 10px 10px;
    border: 5px solid cadetblue;
    width: 20%;
    font-style: italic;
    border-radius: 50%;
    height: 250px;
    /* top: 0px; */
    /* right: 300px; */
    text-align: center;
    /* position:relative; */
    margin: 200px ;
}
.form
{
    align-items: center;
    /* top: 1500px; */
}
div
{
    text-align: center;

}
.two
{
    color: red;
}
.one
{
    padding: 5px;
    width: 300px;
    border: 5px dashed red;
    background-color: aliceblue;
    align-content: center;
    margin:auto ;
    right:100px;
    top: 0px;
    align-items: center;
    /* position:static; */
}
input
{
    text-align: center;
}

.box4
{
    /* align-content: center; */
    
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.menu
{
    color: white;
    background-color: black;
    border: 5px solid red;
    padding: 4px 125px 4px 125px ;
    top: 0px;
    margin: 0px;
    font-style: italic;
    border-radius: 30px;
    
}

.container3
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box5
{
    color: rgb(0, 136, 255);
    background-color: aqua;
    border: 2px solid green;
    border-radius: 30px;
    padding: 20px;
    /* font-weight: bold; */
    text-align:center;
    /* font-style: italic; */
    /* width: max-content; */
  
    /* left: 0px; */
    border-radius: 25px;
    /* position: relative; */
    /* position: static; */
    /* direction: flex; */
    margin: 30px 30px 40px 30px ;
    height: 200px;
    width: 300px;
}
.item
{
    height: 230px;
    
}
